<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuário</title>
</head>
<body>
  <h1>Adicionar Novo Usuário</h1>
  <form action="/users" method="POST">
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Senha:</label>
      <input type="text" id="password" name="password" required>
    </div>
    <button type="submit">Adicionar</button>
  </form>
  <a href="/users">Voltar para a Lista de Usuários</a>
</body>
</html>